/*-------------------------- FONTS ---------------------------*/
@font-face {
  font-family: 'DMSerifDisplay Regular';
  src: url("../../../textfonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa Regular';
  src: url("../../../textfonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa Bold';
  src: url("../../../textfonts/Comfortaa-Bold.ttf") format("truetype");
}

.h-2 {
  color: #0C3F36;
  font-family: 'DMSerifDisplay Regular', serif;
  font-size: 3.5rem;
  margin-bottom: 1.7rem;
  letter-spacing: .3px;
}

/*-------------------------- PRESETS ---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #0C3F36;
  height: 100vh;
  width: 100%;
  position: relative;
}

header .nav {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav__logo {
  flex-basis: 32%;
}

header .nav__logo img {
  width: 15rem;
  height: 5rem;
}

header .nav__box {
  width: 63%;
  background-color: #F4F4F4;
  color: #0C3F36;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  position: absolute;
  top: 0;
  right: 0;
}

header .nav__list {
  display: flex;
}

header .nav__item {
  margin: 0 2.4rem;
}

header .nav__link {
  color: inherit;
}

header .nav__icons {
  display: flex;
}

header .nav__icon {
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 1.3rem;
  cursor: pointer;
}

header .hero {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  height: 55rem;
}

header .hero-text {
  padding: 8rem 0;
  width: 60rem;
}

header .hero__heading {
  color: #FDFACD;
  font-size: 6rem;
  font-family: "DMSerifDisplay Regular", serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.2;
  max-width: 38rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}

header .hero__heading::before {
  content: '';
  position: absolute;
  top: 0;
  right: 4rem;
  height: 6rem;
  width: 6rem;
  background-image: url("../../../assets/green-leaf.png");
  background-size: cover;
  z-index: -1;
}

header .hero__subheading {
  color: #F9FFFE;
  max-width: 50rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

header .hero .btn-cream {
  margin-right: 2rem;
}

header .hero-img {
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50rem;
  position: relative;
}

header .hero-img::before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: -3rem;
  height: 6rem;
  width: 6rem;
  background-image: url("../../../assets/yellow-leaf.png");
  background-size: cover;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1.7rem 4rem;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.52rem;
  letter-spacing: .3px;
  cursor: pointer;
}

.btn-cream {
  background-color: #FBC76D;
  color: #0C3F36;
  border: 2px solid #FBC76D;
  transition: all .3s ease-in-out;
}

.btn-cream:hover {
  background: transparent;
  color: #FBC76D;
}

.btn-green {
  background: transparent;
  border: 2px solid #FBC76D;
  color: #FBC76D;
  transition: all .3s ease-in-out;
}

.btn-green:hover {
  background: #FBC76D;
  color: #0C3F36;
}

section {
  padding: 12rem 0;
}

.about__flex {
  display: flex;
}

.about__flex div {
  flex-basis: 50%;
}

.about__img {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding-right: 15rem;
}

.about__img .a {
  height: 27rem;
  width: 21rem;
  background-image: url("../../../assets/img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  top: 2.5rem;
}

.about__img .b {
  height: 23rem;
  width: 16rem;
  background-image: url("../../../assets/img-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  top: -1.5rem;
}

.about__img .c {
  height: 17rem;
  width: 16rem;
  background-image: url("../../../assets/img-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  top: 4rem;
}

.about__img .d {
  height: 33rem;
  width: 21rem;
  background-image: url("../../../assets/img-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.about__text {
  color: #6E757E;
  margin-bottom: 3rem;
  padding: 5rem 0;
}

.about__text p {
  margin-bottom: 2rem;
  max-width: 40rem;
  line-height: 1.8;
}

.about__text .btn {
  margin-top: 1.2rem;
  padding: 1.7rem 5rem;
}

.about__text .btn:hover {
  color: #0C3F36;
}
