header {
    background-color: $color-1;
    height: 100vh;
    width: 100%;
    position: relative;

    .nav {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            flex-basis: 32%;

            img {
                width: 15rem;
                height: 5rem;
            }
        }

        &__box {
            width: 63%;
            background-color: $color-3;
            color: $color-1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 7rem;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__list {
            display: flex;
        }

        &__item {
            margin: 0 2.4rem;
        }

        &__link {
            color: inherit;
        }

        &__icons {
            display: flex;
        }

        &__icon {
            height: 1.8rem;
            width: 1.8rem;
            margin: 0 1.3rem;
            cursor: pointer;
        }
    }

    .hero {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
        height: calc(100vh - 7rem);

        &-text {
            padding: 8rem 0;
            width: 60rem;
        }

        &__heading {
            color: $color-5;
            font-size: 6rem;
            font-family: $ff-heading;
            letter-spacing: 1px;
            text-transform: capitalize;
            line-height: 1.2;
            max-width: 38rem;
            margin-bottom: 2rem;
            position: relative;
            z-index: 10;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 4rem;
                height: 6rem;
                width: 6rem;
                background-image: url('../../../assets/green-leaf.png');
                background-size: cover;
                z-index: -1;
            }
        }

        &__subheading {
            color: $color-6;
            max-width: 50rem;
            margin-bottom: 3rem;
            font-size: 1.6rem;
            line-height: 1.6;
        }

        .btn-cream {
            margin-right: 2rem;
        }

        &-img {
            background-image: url('/assets/hero-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 50rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: -2rem;
                left: -3rem;
                height: 6rem;
                width: 6rem;
                background-image: url('../../../assets/yellow-leaf.png');
                background-size: cover;
            }
        }
    }
}