.nav {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: 196px;
        padding-top: .8rem;
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 2.5rem;
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: $color-1;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $color-1;
            display: inline-block;
            transform: translateX(-100%);
            transform-origin: left;
            opacity: 0;
            transition: all .5s;
        }

        &:hover::after {
            transform: translateX(0);
            opacity: 1;
        }
    }
}