@media screen and (max-width: 1000px) {
    .testimonial__box {
        &::before {
            top: -12%;
            left: -12%;
        }

        &::after {
            top: -12%;
            right: -10%;
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .nav__item {
            margin: 0 1.7rem;
        }

        .nav__icon {
            margin: 0 1rem;
        }
    }

    .about {
        &__img {
            padding-right: 8rem;
        }
    }
}

@media screen and (max-width: 830px) {
    .testimonial__box {
        &::before {
            top: -25%;
            left: -10%;
        }

        &::after {
            top: -25%;
            right: -7%;
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        height: auto;
        .nav {

            &__box {
                background: transparent;
            }

            &__icons {
                display: none;
            }

            &__list {
                background-color: $color-5;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transform: translateY(-40vh);
                transition: transform .5s;
                z-index: 50;
            }

            &__list.active {
                transform: translateY(0);
            }

            &__item {
                margin: 1.5rem 0;
            }
    
            .menu {
                display: block;
                position: relative;
                z-index: 70;
            }

            .change-color svg {
                fill: $color-1;
            }
        }

        .hero {
            height: auto;
            justify-content: space-around;

            &-img {
                display: none;
            }

            &__heading {
                max-width: 50rem;
            }
        }    
    }

    .about {
        &__flex {
            flex-direction: column;

            div {
                margin: 0 auto;
            }
        }

        p {
            width: 100%;
            max-width: 60rem;
        }
    }

    .indoor {
        .plants-gallery {
            grid-template-columns: repeat(2, 1fr)
        }

        .plant-img--2 {
            display: none;
        }
    }

    .serve__grid {
        grid-template-columns: 50rem;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 6rem;
        justify-content: center;
    }

    .expediency__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 9rem;
    }

    .testimonial__box {
        &::before,
        &::after {
            display: none;
        }
    }

    .testimonial__text {
        .left-quote,
        .right-quote {
            height: 2rem;
            width: 2rem;
        }

        .left-quote {
            top: -30%;
            left: -1.5%;
        }

        .right-quote {
            bottom: -35%;
            right: 2%;
        }
    }

    .brands {
        img {
            width: 100%;
        }
    }

    .footer {
        &__inner {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 500px) {
    .h-2 {
        font-size: 3.2rem !important;
        line-height: 1.3;
    }
    header {
        .hero {
            &__heading {
                font-size: 5.1rem;
            }
            
            &-btn__box {
                button {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .about__img {
        padding: 0;
    
        .plant-1 {
            height: 25rem;
            width: 18rem;
        }
    
        .plant-2 {
            height: 15rem;
            width: 13rem;
        }

        .plant-3 {
            height: 21rem;
            width: 14rem;
        }

        .plant-4 {
            height: 31rem;
            width: 19rem;
        }
    }

    .serve__grid {
        grid-template-columns: 1fr;

        div {
            height: 32rem;
        }
    }

    .brands__grid {
        gap: 3rem;
    }

    .footer__col--2 {
        flex-basis: 100%;
        row-gap: 5rem;
        grid-template-columns: 1fr;
    }
}