/*-------------------------- FONTS ---------------------------*/

@font-face {
    font-family: 'DMSerifDisplay Regular';
    src:url('../../../textfonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa Regular';
    src:url('../../../textfonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa Bold';
    src:url('../../../textfonts/Comfortaa-Bold.ttf') format('truetype');
}


$ff-heading: 'DMSerifDisplay Regular', serif;
$ff-regular: 'Comfortaa Regular', sans-serif;
$ff-bold: 'Comfortaa Bold', sans-serif;
