section {
    padding: 12rem 0;
}

.about {

    &__flex {
        display: flex;

        div {
            flex-basis: 50%;
        }
    }

    &__img {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding-right: 15rem;

        .a {
            height: 27rem;
            width: 21rem;
            background-image: url('../../../assets/img-1.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            position: relative;
            top: 2.5rem;
        }

        .b {
            height: 23rem;
            width: 16rem;
            background-image: url('../../../assets/img-3.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            position: relative;
            top: -1.5rem;
        }

        .c {
            height: 17rem;
            width: 16rem;
            background-image: url('../../../assets/img-2.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            position: relative;
            top: 4rem;
        }

        .d {
            height: 33rem;
            width: 21rem;
            background-image: url('../../../assets/img-4.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
        }
    }

    &__text {
        color: $color-7;
        margin-bottom: 3rem;
        padding: 5rem 0;

        p {
            margin-bottom: 2rem;
            max-width: 40rem;
            line-height: 1.8;
        }

        .btn {
            margin-top: 1.2rem;
            padding: 1.7rem 5rem;

            &:hover {
                color: $color-1;
            }
        }
    }
}